<h1>Edit User</h1>
<%= form_for @user, url: { action: 'update', method: :PATCH } do |f| %>
  <%= f.hidden_field :id, value: @user.id %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :points %>
  <%= f.number_field :points %>
  <%= f.submit 'Update' %>
<% end %>
